
.eventErroneo .fc-event-inner {
	background: Red;
}

.eventCorrecto .fc-event-inner {
	background: green;
}

.ui-button.boolean-button.ui-state-active {
	/*
	background: url("#{resource['primefaces-rbcis-theme:images/ui-bg_highlight-soft_60_002d93_1x100.png']}") repeat-x scroll 50% 50% #002D93 !important;
	*/
    border: 1px solid #002D93;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-button.boolean-button.ui-state-default {
	/*background: url("#{resource['primefaces-rbcis-theme:images/ui-bg_flat_60_ffffff_40x100.png']}") repeat-x scroll 50% 50% #FFFFFF !important;*/
    border: 1px solid #AAAAAA;
    color: #00234C;
    font-weight: bold;	
}

.ui-button.boolean-button-fixed.ui-state-default,
.ui-button.boolean-button-fixed.ui-state-active,
.ui-button.boolean-button-fixed.ui-state-hover {
	/*background: url("#{resource['primefaces-rbcis-theme:images/ui-bg_highlight-soft_60_d0d7e7_1x100.png']}") repeat-x scroll 50% 50% #D0D7E7 !important;*/
    border: 1px solid #00234C !important;
    color: #00234C;
    font-weight: bold;
}

.boolean-button-fixed .ui-icon {
	/*background-image: url("#{resource['primefaces-rbcis-theme:images/ui-icons_002d93_256x240.png']}");*/
}    
