<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>EXPENSE CALCULATOR LOG</contextName>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[EXCALC]|%date{HH:mm:ss.SSS} %-5level|
				%class.%method\(\):%msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="es.expensecalculator" level="INFO">
		<appender-ref ref="CONSOLE" />
	</logger>
	<root level="ERROR" />
</configuration>