<configuration debug="false">
   
   	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <layout>
	     <Pattern>[expensecalculator-BATCH]|%date{yyyy-mm-dd HH:mm:ss.SSS} %-5level| %class.%method\(\) : %msg%n</Pattern>
	   </layout>
 	</appender>
 	
 <logger name="es.expensecalculator" level="info" />

 <root level="error">
    <appender-ref ref="STDOUT" />
 </root>
</configuration>
