<configuration>
   
   	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <layout>
	     <Pattern>%date{HH:mm:ss.SSS} %-5level| %msg%n</Pattern>
	   </layout>
 	</appender>
 	
	<logger name="es.calculadoragastos" level="info" />
	<logger name="org.springframework.orm.hibernate3.HibernateTransactionManager" level="INFO" />
 	<root level="error">
    <appender-ref ref="STDOUT" />
 </root>
</configuration>
